.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: rgb(40, 97, 163);
    color: white;
    border: none;
    border: 4px;
    cursor: pointer;
    transition: 1s all ease;
}

button:hover {
    background-color: rgb(83, 151, 230);
}

h2 {
    font-size: 30px;
}

h1,h2{
    color: white;
}

p {
    margin-bottom: 5px;
    color: white;
}

img{
    width: 100px;
    height: auto;
    margin-top: 10px;
}

@media (max-width:900px){
    .container{
        max-width: 80%;
    }

    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
}